@page
@model HospitalAtHome.App.FrontEnd.Pages.DetailMedicalModel
@{
}
<h1>Doctor detail</h1>
<ul>
    <li>Code: @Model.medical.Code</li>
    <li>Name: @Model.medical.Name</li>
    <li>Last Name: @Model.medical.LastName</li>
    <li>Phone: @Model.medical.PhoneNumber</li>
    <li>Registration: @Model.medical.Registration</li>
    <li>Speciality: @Model.medical.Specialty</li>
    <li>Gender: @Model.medical.Gender</li>
</ul>