@page
@model HospitalAtHome.App.FrontEnd.Pages.ListMedicalsModel
@{
}
<h1>Manage Doctors</h1>
<p>On this page you can manage the doctors</p>
<div>
<a class="btn btn-primary table-btn" asp-page="./AddMedical">Add Doctor</a>
</div>
<table class="table table-striped">
    <thead >
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">LastName</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">Specialty</th>
            <th scope="col">Registration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medical in Model.medicals)
        {
            <tr>
                <td class="table-primary">@medical.Code</td>
                <td class="table-secondary">@medical.Name</td>
                <td class="table-success">@medical.LastName</td>
                <td class="table-danger">@medical.PhoneNumber</td>
                <td class="table-warning">@medical.Gender</td>
                <td class="table-info">@medical.Specialty</td>
                <td class="table-light">@medical.Registration</td>
                <td><a class="btn btn-primary table-btn" asp-page="./DetailMedical" asp-route-code="@medical.Code">Detail Doctor</a>
                <a class="btn btn-primary table-btn" asp-page="./EditMedicals" asp-reute-code="@medical.Code" >Edit Doctor</a>
                <a class="btn btn-primary table-btn" asp-page="./RemoveMedical" asp-route-code="@medical.Code">Delete Doctor</a>
                </td>
            </tr>
        }
    </tbody>

</table>
